/*

selector {
    property: value
}

*/

html {
    font-family:Helvetica,sans-serif,Ariel
        
}

body { 
    background-color:#990000
}

h1 {
    text-shadow:#999 2px 2px; /* colour + x + y */
    font-family:Georgia,"Times New Roman",sans-serif;
    font-size:4rem; /* rem = 16px */
font-weight:800

}

h2 {

    color:#CC6633
}

p,

li { 
    
    font-size: 1rem;
    line-height:1.5rem;
    
}

h1 + p {
    
    font-size: 1.5rem;
    line-height:1.75rem;
    
}

strong {
    
    font-weight:bold;
    
}

p strong {
    color:#FF9933
        
}

hr {
    
    border:5px solid #000000;
}

ul,
ol {
    
    background-color:#FFFF99
        
}

